<app-molecule-container
  [title]="title"
  [leftClass]="_left"
  [rightClass]="_right"
  [isRequired]="isRequired"
  [isEnabled]="isEnabled()"
  [tooltip]="tooltip"
  [infos]="infos"
  [errors]="errors"
  [warnings]="warnings"
>
  <div style="padding-top: 8px">
    <div *ngFor="let item of itemsSource">
      <label>
        <input type="radio"
               [attr.name]="name"
               [(ngModel)]="_selectedValue"
               [ngModelOptions]="{standalone: true}"
               (ngModelChange)="onChanged($event)"
               [value]="item[selectedPathValue]"/>
        {{item[displayPathName]}}
      </label>
    </div>
  </div>
</app-molecule-container>
