<div class="modal-header">
  <h5 class="modal-title pull-left">
    <i class="icon-info"></i>
    Điều chỉnh ngày hết hạn sử dụng tiền của user: <br>
    <strong>{{user && user.email}}</strong>
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Ngày cũ: <span class="red">{{user && user.expirationDate | date: 'dd-MM-yyyy'}}</span></h5>
  <div style="padding: 5px 0">
    <app-input-date
      [date]="currentValue"
      (valueChanged)="currentValue = $event">
    </app-input-date>

    <!--<app-input-number-->
      <!--[left]="0"-->
      <!--[right]="12"-->
      <!--[precision]="0"-->
      <!--[value]="currentValue"-->
      <!--(valueChanged)="currentValue = $event"-->
      <!--&gt;</app-input-number>-->
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" (click)="bsModalRef.hide()">Cancel</button>
  <button class="btn btn-primary btn-sm" (click)="confirm()">Save</button>
</div>
