<div class="modal-header">
  <h4 class="modal-title pull-left">
    <i class="icon-info"></i> Confirm
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let m of msgs">
    {{m}}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" (click)="bsModalRef.hide()">Cancel</button>
  <button class="btn btn-primary btn-sm" (click)="confirm()">Continue</button>
</div>
