$height: 34px;
$border_color: #c2cad8;
.select-search {
  position: relative;
  background-color: white;

  .selected-items {
    position: relative;
    width: 100%;
    min-height: $height;
    padding-right: 10px;
    border: 1px solid $border_color;
    box-sizing: border-box;

    .wrap-list-selected {
      position: relative;
      //padding: 5px;
      //padding-right: 10px;
      padding-bottom: 5px;
      cursor: pointer;

      .selected {
        display: inline-block;
        background-color: #335070;
        color: white;
        font-weight: normal;
        padding: 6px 12px;
        border-radius: 6px !important;
        margin-top: 5px;
        margin-left: 5px;

        &:hover {
          background-color: rgba(11, 200, 240, 0.6);
        }

        .fa-times {
          cursor: pointer;
          &:hover {
            color: #ff3f4c;
          }
        }
      }
    }

    .search-caret {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      display: inline-block;
    }
  }

  .search-form {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    z-index: 500;
    padding: 5px;
    border: 1px solid $border_color;
    box-sizing: border-box;

    .input-wrap {

    }

    .list-items {
      margin-top: 5px;
      overflow: auto;
      border: 1px solid $border_color;
      max-height: 250px;

      .result-item {
        padding: 6px 12px;
        &:hover {
          background-color: #e1e1e1;
        }
        &.no-data {
          color: #929292;
          background-color: white;
        }
      }
    }
  }
}
