<app-molecule-container
  [title]="title"
  [leftClass]="_left"
  [rightClass]="_right"
  [isRequired]="isRequired"
  [isEnabled]="isEnabled()"
  [tooltip]="tooltip"
  [infos]="infos"
  [errors]="errors"
  [warnings]="warnings">
  <div class="select-search">
    <div class="selected-items" (click)="open()">
      <div class="wrap-list-selected">
        <div class="selected" *ngFor="let item of selectedItem; trackBy: trackByFn">
          {{item[_displayMemberPath]}}
          <span class="fa fa-times" (click)="removeSelected($event, item)" title="Xoá"></span>
        </div>
      </div>
      <div class="search-caret">
        <span class="fa fa-caret-down"></span>
      </div>
    </div>
    <div class="search-form" *ngIf="isOpened">
      <div class="input-wrap">
        <input type="text" class="form-control"
               [(ngModel)]="_txt"
               (keyup)="onTextChanged($event)">
      </div>
      <div class="list-items" *ngIf="_itemsSource.length !== 0; else noItem">
        <div class="result-item"
             *ngFor="let item of _itemsSource; trackBy: trackByFn"
             (click)="onSelectItem($event, item)"
        >
          {{item[_displayMemberPath]}}
        </div>
      </div>
      <ng-template #noItem>
        <div class="list-items">
          <!--item-->
          <div class="result-item no-data">
            No data
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</app-molecule-container>



