$height: 34px;
$border_color: #c2cad8;
.select-search {
  position: relative;
  background-color: white;
  height: $height;
  width: 100%;
  box-sizing: border-box;

  .selected-item {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid $border_color;
    &:hover {
      background-color: #e1e1e1;
    }

    .selected-item-content {
      position: absolute;
      width: 100%;
      top: 50%;
      padding: 6px 12px;
      transform: translateY(-50%);
      overflow: hidden;
    }

    .search-caret {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      display: inline-block;
    }

    .search-remove {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      display: inline-block;
      color: #d3979b;
    }
  }

  .search-form {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid $border_color;
    width: 100%;
    padding: 5px;
    z-index: 500;
    .scroll-wrap {
      position: relative;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ccc;
      margin-top: 5px;
      .result-content {
        .result-item {
          padding: 6px 12px;
          &:hover {
            background-color: #e1e1e1;
          }
          &.no-data {
            color: #929292;
            background-color: white;
          }
          &.active {
            background-color: #335070;
            color: white;
          }
          &.disabled {
            color: rgba(130, 130, 130, 0.78);
            background-color: white;
            cursor: not-allowed;
          }
          .item-gap {
            &.level-1 {
              padding-left: 0;
            }

            &.level-2 {
              padding-left: 30px;
            }

            &.level-3 {
              padding-left: 60px;
            }
          }
        }
      }
    }
  }
}
