<app-molecule-container
  [title]="title"
  [leftClass]="_left"
  [rightClass]="_right"
  [isRequired]="isRequired"
  [isEnabled]="isEnabled()"
  [tooltip]="tooltip"
  [infos]="infos"
  [errors]="errors"
  [warnings]="warnings">
  <div class="select-search" (focus)="onGotFocus()" (blur)="onLostFocus()">
    <div class="selected-item" (click)="open()">
      <div class="selected-item-content">
        {{selectedItem && selectedItem[_displayMemberPath]}}
      </div>
      <div class="search-caret">
        <i class="fa fa-caret-down"></i>
      </div>

      <div class="search-remove"
           *ngIf="!!selectedItem && removeAble"
           (click)="remove($event)"
           title="Xoá">
        <i class="fa fa-times"></i>
      </div>
    </div>

    <div class="search-form" *ngIf="isOpened">
      <div class="search-input-wrap">
        <input type="text" class="form-control input-sm"
               [(ngModel)]="_txt"
               (keyup)="onTextChanged($event)"/>
      </div>
      <div class="search-input-result">
        <!--scroll wrap-->
        <div class="scroll-wrap">
          <!--item source-->
          <div class="result-content" *ngIf="_itemsSource.length !== 0; else noItem">
            <!--item-->
            <div class="result-item"
                 *ngFor="let item of _itemsSource; trackBy: trackByFn"
                 (click)="onSelectItem(item)"
                 [ngClass]="{
                  'active': selectedItem && item[_selectedValuePath] === selectedItem[_selectedValuePath],
                  'disabled': item.extra && item.extra.selectable === false
                 }"
            >
              <span class="item-gap level-{{item.extra.level}}">
                {{gapBeLevel[item.extra.level]}}
              </span>
              {{item[_displayMemberPath]}}
            </div>
          </div>
          <ng-template #noItem>
            <div class="result-content">
              <!--item-->
              <div class="result-item no-data">
                No data
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</app-molecule-container>



