.logo-default {
  margin-top: 11px !important;
  width: 110px;
  background: white;
  padding: 10px;
}

.ms-file-manager {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 40px;
  background-color: rgba(113, 113, 113, 0.496);
  transition: ease 0.3s;
  overflow: auto;
  &.active {
    top: 0;
  }
  iframe {
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 400px;
    box-shadow: 0 0 3px 2px #938b8b;
  }
  .ms-btn-close-fm {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #cbcbcb;
    cursor: pointer;
    font-size: 25px;
  }
}