<app-molecule-container
  [title]="title"
  [leftClass]="_left"
  [rightClass]="_right"
  [isRequired]="isRequired"
  [isEnabled]="isEnabled()"
  [tooltip]="tooltip"
  [infos]="infos"
  [errors]="errors"
  [warnings]="warnings">

  <div class="up-im-container">

    <!-- Begin: List images -->
    <div class="image-item"
         *ngFor="let _f of _files; trackBy: trackBy">

      <div class="image-preview" [style.background-image]="'url('+ _f.url +')'">
        <div class="upload-image-tools" style="width: 145px;">
          <!--<span class="upload-tool-rotation"></span>-->
          <span class="upload-tool-delete" title="Remove" (click)="removeFile(_f)"></span>
          <!--<a class="upload-avatar">Ảnh đại diện</a>-->
        </div>
      </div>

      <div class="upload-image-description" *ngIf="showInput">
      <textarea name=""
                id=""
                cols="30"
                rows="3"
                [(ngModel)]="_f.text"
                (ngModelChange)="onTextChange()"
      ></textarea>
      </div>
    </div>
    <!-- End: List images-->

    <div class="block-upload-item" [class.hidden]="!(max === -1 || (max !== -1 && _files.length < max))">
      <p>(Click để tải ảnh<br> hoặc kéo thả ảnh vào đây)</p>
      <input multiple="multiple"
             type="file"
             accept="image/*"
             #inputFile
             (change)="onChangeInputFiles($event)"
             name="file">
    </div>
  </div>
</app-molecule-container>
