<app-molecule-container
  [title]="title"
  [leftClass]="_left"
  [rightClass]="_right"
  [isRequired]="isRequired" [isEnabled]="isEnabled()" [tooltip]="tooltip" [infos]="infos"
  [errors]="errors" [warnings]="warnings">
  <textarea [id]="_id" rows="30" cols="80">
    {{value}}
</textarea>
  <!-- <p-editor [style]="{'height':'320px'}" [(ngModel)]="value" (ngModelChange)="onValueChanged()"></p-editor> -->
  <!-- <ckeditor [config]="{}" [(ngModel)]="value" (ngModelChange)="onValueChanged()" [readonly]="false" debounce="500">
  </ckeditor> -->
  <!-- <div [froalaEditor] [(froalaModel)]="value"></div> -->
  <!-- <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="ngModel"></app-ngx-editor> -->
</app-molecule-container>
