<app-molecule-container [title]="title"
                        [leftClass]="_left"
                        [rightClass]="_right"
                        [isEnabled]="isEnabled()"
                        [isRequired]="isRequired"
                        [tooltip]="tooltip"
                        [infos]="infos"
                        [warnings]="warnings"
                        [errors]="errors">
  <div class="checkbox-container"
       [ngClass]="{
         'disabled': isDisabled,
         'readonly': isReadOnly,
         'warning': hasWarning(),
         'error': hasError()
       }">
    <div class="checkbox-item" [ngStyle]="{width: _width}" *ngFor="let item of itemsSource; let idx = index; trackBy: trackByFn">
      <app-check-box [id]="id + idx"
                     [value]="item[selectedValuePath]"
                     [isChecked]="getIsChecked(item[selectedValuePath])"
                     [isDisabled]="!isEnabled()"
                     [contentText]="item[displayMemberPath]"
                     (change)="onChanged()">
      </app-check-box>
    </div>
  </div>
</app-molecule-container>
