.checkbox-container {
  align-items: center;
  min-height: 32px;
  border-radius: 4px;
  padding: 0 8px;
  padding-top: 7px;

  .checkbox-item {
    float: left;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    clear: both;
  }
}
