<div class="page-wrapper">
  <div class="page-container" style="margin-top: 0px">
    <div class="page-content-wrapper">
      <div class="page-content">
        <h2>Form</h2>
        <app-section [jTextProperty]="{upperLabel: 'Basic'}">
          <form novalidate [formGroup]="form">

            <input type="text" [formControlName]="'name'">

            <demo-input-text [formControlName]="'age'" (valueChanged)="onAgeChange($event)"></demo-input-text>
            
          </form>
          <button (click)="submitForm()">OK</button>
        </app-section>
      </div>
    </div>
    <!-- <div ui-view="footer"></div> -->
  </div>
</div>