<div class="select-wrap">
  <div class="selected-result" (click)="toggleOpen()" title="{{_selectedItem && _selectedItem[displayMemberPath]}}">
    <div class="select-text">
      {{_selectedItem && _selectedItem[displayMemberPath]}}
    </div>
    <span class="fa fa-caret-down"></span>
  </div>
  <div class="search-content" [class.hide]="!isOpened" #searchContent>
    <div class="input-search">
      <input type="text" [formControl]="txtSearchControl" placeholder="Search..">
    </div>
    <div class="search-result">
      <div class="item" *ngFor="let item of realItemSource" (click)="chooseOption(item)">
        {{item[displayMemberPath]}}
      </div>
      <app-spinner
        [fullPage]="false"
        [isLoading]="isLoading"
      ></app-spinner>
    </div>
  </div>
</div>
