.select-wrap {
  position: relative;
  padding: 0;
  font-weight: normal;

  .selected-result {
    position: relative;
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    cursor: pointer;
    color: black;
    padding-right: 13px;

    .select-text {
      width: 100%;
      height: 17px;
      overflow: hidden;
    }

    span {
      position: absolute;
      top: 3px;
      right: 5px;
      color: black;
    }
  }

  .search-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: white;
    z-index: 9;
    padding: 4px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 3px 0px #999;
    .input-search {
      border: 1px solid #ccc;
      input {
        width: 100%;
        border: 0;
        outline: 0;
      }
    }

    .search-result {
      position: relative;
      margin-top: 2px;
      border: 1px solid #ccc;
      max-height: 300px;
      overflow-y: scroll;
      min-height: 100px;
      .item {
        color: black;
        padding: 3px 2px;
        cursor: pointer;
        &:hover {
          background-color: rgb(185, 185, 185);
        }
      }
    }
  }
}
