<div class="page-head">
  <div class="page-title">
    <h1>Dashboard</h1>
  </div>
</div>


<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
      <span class="active">
        Dashboard
      </span>
  </li>
</ul>
