<div class="modal-header">

  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="padding: 5px 0">
    <app-input-number
      [left]="0"
      [right]="12"
      [precision]="0"
      [value]="currentValue"
      (valueChanged)="currentValue = $event"
      ></app-input-number>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" (click)="bsModalRef.hide()">Cancel</button>
  <button class="btn btn-primary btn-sm" (click)="confirm()">Save</button>
</div>
