<!-- BEGIN LOGO -->
<div class="logo">
  <a href="">
    <img src="assets/images/logo.png" alt="" style="width: 200px"> </a>
  <!-- <div style="font-size: 2em; color: #32c5d6;">
    IFIND - VN
  </div> -->
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" style="margin-top: 0">
  <!-- BEGIN LOGIN FORM -->
  <form class="login-form" name="formLogin" *ngIf="showFormHtml == 'LOGIN'">
    <h3 class="form-title font-green">Sign In</h3>
    <div class="alert alert-danger display-hide">
      <button class="close" data-close="alert"></button>
      <span> Enter any username and password. </span>
    </div>
    <div class="form-group font-red-thunderbird" ng-show="error.login.length != 0">
      <div ng-repeat="e in error.login">{{e}}</div>
    </div>
    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9">Username</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" required="" (keyup.enter)="loginFn()" [(ngModel)]="login.username" />
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" (keyup.enter)="loginFn()" [(ngModel)]="login.password" required="" />
    </div>
    <div class="form-actions" style="padding-top: 0; border-bottom: 0">
      <button type="button" ng-disabled="formLogin.$invalid" class="btn green uppercase btn-sm" (click)="loginFn()">Login
      </button>
      <a href="javascript:;" id="forget-password" class="forget-password" (click)="showForm('FORGOT')">Forgot
        Password?</a>
    </div>
    <!-- <div class="create-account">
      <p>
        <a href="javascript:;" id="register-btn" class="uppercase" (click)="showForm('REGISTER')">Create an account</a>
      </p>
    </div> -->
  </form>
  <!-- END LOGIN FORM -->
  <!-- BEGIN FORGOT PASSWORD FORM -->
  <form class="forget-form" name="forgetForm" style="display: inherit;" *ngIf="showFormHtml == 'FORGOT'">
    <h3 class="font-green">Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
      <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" ng-model="forget.email" />
    </div>
    <div class="form-actions">
      <button type="button" (click)="showForm('LOGIN')" id="back-btn" class="btn green btn-outline btn-sm">Back</button>
      <button type="button" class="btn btn-success uppercase pull-right btn-sm" ng-click="forget()" ng-disabled="forgetForm.$invalid">Submit
      </button>
    </div>
  </form>
  <!-- END FORGOT PASSWORD FORM -->
</div>
<div class="copyright"> 9/2017 © IFIND</div>
