<app-molecule-container
  [title]="title"
  [leftClass]="_left"
  [rightClass]="_right"
  [isRequired]="isRequired"
  [isEnabled]="isEnabled()"
  [tooltip]="tooltip"
  [infos]="infos"
  [errors]="errors"
  [warnings]="warnings"
>
  <div [class.hide]="isInline">
    <div class="input-group date app-date-not-inline">
      <input type='text' class="form-control" onkeydown="return false"/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
    </div>
  </div>
  <div [class.hide]="!isInline">
    <div class="app-date-inline"></div>
  </div>
  <!--<input type="text"-->
  <!--value="{{ value | date: format}}"-->
  <!--class="form-control"-->
  <!--bsDatepicker-->
  <!--[bsConfig]="config"-->
  <!--(bsValueChange)="onValueChanged($event)"-->
  <!--[(bsValue)]="value"/>-->
</app-molecule-container>
