<label [ngClass]="{'not-allowed': isDisabled}">
  <input type="checkbox"
         [attr.disabled]="isDisabled ? true : null"
         [id]="id"
         [value]="value"
         [(ngModel)]="isChecked"
         (change)="onChange($event)">
  {{ contentText }}
  <ng-content></ng-content>
</label>
