.bubblingG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:78px;
  height:49px;
  margin: auto;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 24px auto;
  background: rgb(0,0,0);
  border-radius: 49px !important;
    -o-border-radius: 49px !important;
    -ms-border-radius: 49px !important;
    -webkit-border-radius: 49px !important;
    -moz-border-radius: 49px !important;
  animation: bubblingG 0.385s infinite alternate;
    -o-animation: bubblingG 0.385s infinite alternate;
    -ms-animation: bubblingG 0.385s infinite alternate;
    -webkit-animation: bubblingG 0.385s infinite alternate;
    -moz-animation: bubblingG 0.385s infinite alternate;
}

#bubblingG_1 {
  animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
  animation-delay: 0.1195s;
    -o-animation-delay: 0.1195s;
    -ms-animation-delay: 0.1195s;
    -webkit-animation-delay: 0.1195s;
    -moz-animation-delay: 0.1195s;
}

#bubblingG_3 {
  animation-delay: 0.229s;
    -o-animation-delay: 0.229s;
    -ms-animation-delay: 0.229s;
    -webkit-animation-delay: 0.229s;
    -moz-animation-delay: 0.229s;
}



@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(255,10,10);
    transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(204,57,57);
    transform: translateY(-20px);
  }
}

@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(255,10,10);
    -o-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(204,57,57);
    -o-transform: translateY(-20px);
  }
}

@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(255,10,10);
    -ms-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(204,57,57);
    -ms-transform: translateY(-20px);
  }
}

@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(255,10,10);
    -webkit-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(204,57,57);
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:rgb(255,10,10);
    -moz-transform: translateY(0);
  }

  100% {
    width: 23px;
    height: 23px;
    background-color:rgb(204,57,57);
    -moz-transform: translateY(-20px);
  }
}