<!--<div class="table-controlls-buttons">-->
<!--<div class="table-control-fixed" appStickyControlButtonsTable>-->
<!--<ng-content></ng-content>-->
<!--</div>-->
<!--</div>-->
<div class="table-content">
  <div class="table-responsive table-wrapper">
    <table class="table table-bordered table-hover table-condensed"
           appStickyTableThead
           #stickyHeader
           [render]="startRender"
           [marginTop]="75">
      <thead>
        <tr>
          <th class="text-center"
              *ngIf="showIndexCol">
            #
          </th>
          <th style="width: 100px; min-width: 100px">Actions</th>
          <!--<th style="width: 50px; max-width: 50px"></th>-->
          <th *ngFor="let column of _columns;"
              [ngClass]="{'sortable': column.sortable}"
              (click)="_sort(column)"
              [ngStyle]="column.headerStyle || {}">
            <span class="column-name">
              {{column.headerName}}
            </span>
            <div *ngIf="sortObj[column.code]"
                 style="display:inline-block;"
                 class="btn-sort">
              <i class="icon-arrow-up"
                 *ngIf="_sortState === 'ASC'"></i>
              <i class="icon-arrow-down"
                 *ngIf="_sortState === 'DESC'"></i>
            </div>
          </th>
        </tr>
        <tr class="filter"
            table-filter
            [showIndexCol]="showIndexCol"
            [columns]="_columns"
            (filterChanged)="onFilterChanged($event)"></tr>
      </thead>
      <thead class="fixed-header">
        <tr>
          <th class="text-center"
              *ngIf="showIndexCol">
            #
          </th>
          <th>Actions</th>
          <!--<th style="width: 50px; max-width: 50px"></th>-->
          <th *ngFor="let column of _columns;"
              [ngClass]="{'sortable': column.sortable}"
              (click)="_sort(column)"
              [ngStyle]="column.headerStyle || {}">
            <span class="column-name">
              {{column.headerName}}
            </span>
            <div *ngIf="sortObj[column.code]"
                 class="btn-sort">
              <i class="icon-arrow-up"
                 *ngIf="_sortState === 'ASC'"></i>
              <i class="icon-arrow-down"
                 *ngIf="_sortState === 'DESC'"></i>
            </div>
          </th>
        </tr>
        <tr class="filter"
            table-filter
            [showIndexCol]="showIndexCol"
            [columns]="_columns"
            (filterChanged)="onFilterChanged($event)"></tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of _itemsSource; let idx = index; let _last = last"
            appRepeatDone
            [ready]="_last"
            [totalRender]="_size"
            (repeatDoneCb)="onRenderDone($event)">
          <td class="text-center"
              *ngIf="showIndexCol">{{idx + 1}}</td>
          <td class="text-center">
            <div [ngSwitch]="target">
              <div *ngSwitchCase="'ADMIN'">
                <i class="icon-note pointer"
                   (click)="updateStatus(item)"
                   tooltip="Update status"></i>
              </div>

              <div *ngSwitchCase="'PROJECT'">
                <!--Edit-->
                <a class="pointer"
                   [routerLink]="['modify']"
                   [queryParams]="{id: item.id}"
                   tooltip="Edit">
                  <i class="icon-pencil"></i>
                </a>
                <!--Remove-->
                <i class="icon-trash pointer text-danger"
                   (click)="removeItem(item)"
                   tooltip="Remove"></i>

                <!-- <a class="pointer"
                   [routerLink]="['update-seo-info']"
                   [queryParams]="{id: item.id}"
                   tooltip="Edit Seo">
                  <i class="icon-pencil"></i>
                </a> -->
                <!--Update status-->
                <!-- <i class="icon-note pointer"
                 (click)="updateStatus(item)"
                 tooltip="Update status"></i> -->
              </div>

              <div *ngSwitchCase="'USER'">
                <!--Remove-->
                <i class="icon-trash pointer text-danger"
                   (click)="removeItem(item)"
                   tooltip="Remove"></i>
                <!--Update status-->
                <i class="icon-note pointer"
                   (click)="updateStatus(item)"
                   tooltip="Update status"></i>

                <!--Update user type-->
                <i class="icon-directions pointer"
                   (click)="updateUserType(item)"
                   tooltip="Update type"></i>
              </div>

              <div *ngSwitchCase="'PRIORITY'">
                <!--Remove-->
                <!--<i class="icon-trash pointer text-danger"-->
                <!--(click)="removeItem(item)"-->
                <!--tooltip="Remove"></i>-->
                <!--Update status-->
                <i class="icon-note pointer"
                   (click)="updateStatus(item)"
                   tooltip="Update status"></i>
              </div>

              <div *ngSwitchCase="'NEWS'">
                <!--Edit-->
                <a class="pointer"
                   [routerLink]="['modify']"
                   [queryParams]="{id: item.id}"
                   tooltip="Edit">
                  <i class="icon-pencil"></i>
                </a>
                <!--Remove-->
                <i class="icon-trash pointer text-danger"
                   (click)="removeItem(item)"
                   tooltip="Remove"></i>
                <!--Update status-->
                <!-- <i class="icon-note pointer"
                 (click)="updateStatus(item)"
                 tooltip="Update status"></i> -->
              </div>

              <div *ngSwitchCase="'SEARCH_BOX'">
                <a class="pointer"
                   [routerLink]="['update-seo-info']"
                   [queryParams]="{id: item.id}"
                   tooltip="Edit">
                  <i class="icon-pencil"></i>
                </a>

                <!--Update status-->
                <!-- <i class="icon-note pointer"
                   (click)="updateStatus(item)"
                   tooltip="Update status"></i> -->
              </div>

              <div *ngSwitchCase="'TAG'">
                <a class="pointer"
                   [routerLink]="['update-seo-info']"
                   [queryParams]="{id: item.id}"
                   tooltip="Edit">
                  <i class="icon-pencil"></i>
                </a>

                <!--Update status-->
                <!-- <i class="icon-note pointer"
                   (click)="updateStatus(item)"
                   tooltip="Update status"></i> -->
              </div>

              <div *ngSwitchCase="'POST_SALE'">
                <!--Edit-->
                <!-- <a class="pointer"
                 [routerLink]="['modify']"
                 [queryParams]="{id: item.id, url: item.url}"
                 tooltip="Edit">
                <i class="icon-pencil"></i>
              </a> -->

                <!-- Update seo -->
                <a class="pointer"
                   [routerLink]="['update-seo-info']"
                   [queryParams]="{id: item.id}"
                   tooltip="Edit">
                  <i class="icon-pencil"></i>
                </a>

                <!--Remove-->
                <i class="icon-trash pointer text-danger"
                   (click)="removeItem(item)"
                   tooltip="Remove"></i>
                <!--Update status-->
                <i class="icon-note pointer"
                   (click)="updateStatus(item)"
                   tooltip="Update status"></i>
              </div>
            </div>
          </td>
          <!--<td class="text-center">-->
          <!--<input type="radio" name="_" [value]="item.id" (change)="onSelectRow($event)">-->
          <!--</td>-->
          <td *ngFor="let column of _columns; trackBy: column?.code"
              [ngStyle]="column.contentStyle || {}">
            <div [ngSwitch]="column.displayValueAs">
              <img style="max-width: 100px"
                   [src]="getImageUrlNested(item, column)"
                   *ngSwitchCase="cellDisplay.IMAGE"
                   alt="No image">

              <div *ngSwitchCase="cellDisplay.LIST_KEYWORD">
                <span *ngFor="let k of item.keywordList">{{k.keyword}}, </span>
              </div>

              <div *ngSwitchCase="cellDisplay.USER_BALANCE_WITH_BTN">
                {{getValueNested(item, column)}}
                <i class="fa fa-pencil pointer"
                   title="Thay đổi"
                   (click)="changeUserBalance(item, column)"
                   style="padding: 3px 6px; background-color: #e9e9e9; border-radius: 3px"></i>
              </div>

              <div *ngSwitchCase="cellDisplay.DATE">
                {{getValueNested(item, column)}}
                <i class="fa fa-pencil pointer"
                   title="Thay đổi"
                   (click)="changeExpirationDate(item, column)"
                   style="padding: 3px 6px; background-color: #e9e9e9; border-radius: 3px"></i>
              </div>

              <div *ngSwitchDefault>
                {{getValueNested(item, column)}}
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
    <div *ngIf="_itemsSource.length === 0"
         class="no-content">
      <div class="content">
        No content
      </div>
    </div>
  </div>
  <app-table-control-footer #tableFooter
                            [size]="_size"
                            [page]="_page"
                            [total]="totalRecords"
                            [sizeValues]="_sizeValues"
                            (pageChanged)="onFooterChange($event)"></app-table-control-footer>
  <app-spinner [(isLoading)]="visibleSetting.spinner"></app-spinner>
</div>
