.table-content {
  position: relative;
  width: 100%;
  .table-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #e7ecf1;
    overflow-x: auto !important;
    overflow-y: auto;

    .no-content {
      position: relative;
      height: 100px;
      .content {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .btn-sort {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
  }

  .fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.cate-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: white;
  display: inline-block;
  border-radius: 50% !important;
  border: 1px solid #e7e7e7;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

.table-controlls-buttons {
  background-color: white;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 50px;
  .table-control-fixed {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}


.pointer {
  cursor: pointer;
}
