<!-- Modal header -->
<div class="modal-header">
  <h4 class="modal-title pull-left">
    <i class="icon-info"></i> Thay đổi loại người dùng
  </h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <form class="form-horizontal">
    <app-select-search [title]="''"
                       [left]="0"
                       [right]="12"
                       [removeAble]="false"
                       [isRequired]="false"
                       [isDisabled]="false"
                       [dataFlowType]="'FIX'"
                       [itemsSource]="types"
                       [displayMemberPath]="'text'"
                       [selectedValuePath]="'id'"
                       [selectedItem]="selectedType"
                       (valueChanged)="onSelectType($event)"></app-select-search>
  </form>
</div>

<!-- Modal footer -->
<div class="modal-footer">
  <button class="btn btn-default btn-sm"
          (click)="bsModalRef.hide()">Thoát</button>

  <button class="btn btn-primary btn-sm"
          (click)="confirm()">Lưu</button>
</div>