<div>
  <router-outlet></router-outlet>
</div>
<!--<div *ngIf="globalService.pageLoading" class="page-loader-wrap">-->
  <!--<div class="cssload-container">-->
    <!--<div class="cssload-speeding-wheel"></div>-->
  <!--</div>-->
<!--</div>-->
<app-spinner [isLoading]="fullPageLoading$ | async" [fullPage]="true"></app-spinner>
<app-spinner-to-login [isLoading]="fullPageLoadingToLogin | async" [fullPage]="true"></app-spinner-to-login>
