<div class="page-head">
  <div class="page-title">
    <h1>Thêm tin tức</h1>
  </div>
</div>


<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span class="active">
      Thêm tin tức
    </span>
  </li>
</ul>

<form novalidate
      [formGroup]="form"
      class="form-horizontal">
  <div class="portlet light bordered">
    <div class="portlet-body">
      <tabset>
        <tab heading="Cơ bản">
          <app-input-text [title]="'Tiêu đề'"
                          [left]="2"
                          [right]="7"
                          [isRequired]="true"
                          [isDisabled]="false"
                          [formControlName]="'title'"
                          [errors]="getMessageErrors('title')"></app-input-text>

          <app-select-search [title]="'Loại tin'"
                             [left]="2"
                             [right]="5"
                             [isRequired]="true"
                             [isDisabled]="false"
                             [itemsSource]="categoryItemsSource"
                             [displayMemberPath]="'text'"
                             [selectedValuePath]="'id'"
                             [dataFlowType]="'FIX'"
                             [formControlName]="'cate'"
                             [removeAble]="false"
                             [errors]="getMessageErrors('cate')"></app-select-search>

          <app-image-uploader [title]="'Hình ảnh giới thiệu'"
                              [left]="2"
                              [right]="10"
                              [max]="1"
                              [types]="['png','jpg']"
                              [formControlName]="'image'"
                              [errors]="getMessageErrors('image')"></app-image-uploader>

          <app-input-textarea [title]="'Mô tả'"
                              [left]="2"
                              [right]="10"
                              [formControlName]="'description'"
                              [errors]="getMessageErrors('description')"
                              [isRequired]="true"
                              [isDisabled]="false"></app-input-textarea>

          <app-input-rich-text-2 [title]="'Nội dung'"
                                 [left]="2"
                                 [right]="10"
                                 [formControlName]="'content'"
                                 [errors]="getMessageErrors('content')"
                                 [isRequired]="true"
                                 [isDisabled]="false"></app-input-rich-text-2>
        </tab>
        <tab heading="SEO">
          <div *ngIf="onFlowEdit == true">
            <app-input-text [title]="'Url'"
                            [left]="2"
                            [right]="7"
                            [formControlName]="'url'"></app-input-text>
          </div>

          <app-input-text [title]="'Meta title'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaTitle'"></app-input-text>

          <app-input-text [title]="'Meta description'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaDescription'"></app-input-text>

          <app-input-text [title]="'Meta url'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaUrl'"></app-input-text>

          <app-input-text [title]="'Meta image'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaImage'"></app-input-text>

          <app-input-text [title]="'Canonical'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'canonical'"></app-input-text>

          <app-input-text [title]="'Text end page'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'textEndPage'"></app-input-text>
        </tab>
      </tabset>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button class="btn btn-default"
                  (click)="onClickBtnClear()">
            Xoá form
          </button>

          <button class="btn blue-steel btn-lg-custom"
                  style="margin-left: 20px"
                  (click)="onClickBtnSubmit()">
            Lưu
          </button>
        </div>
      </div>
    </div>
  </div>
</form>