<!-- BEGIN HEADER -->
<app-layout-header></app-layout-header>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<div class="page-container">
  <app-layout-aside></app-layout-aside>
  <div class="page-content-wrapper">
    <div class="page-content" style="min-height: 565px !important;">
      <router-outlet></router-outlet>
      <button class="btn btn-default btn-sm" (click)="onClickBtnBack()">
        <span class="fa fa-long-arrow-left"></span>
        Back
      </button>
    </div>
  </div>
  <!-- <div ui-view="footer"></div> -->
</div>
