<div class="form-group">
  <label [class]="leftClass">
    {{title}}
    <span *ngIf="isEnabled && isRequired" class="icon-required">*</span>
  </label>
  <div [class]="rightClass">
    <div>
      <ng-container *ngIf="isEnabled">
        <p class="text-danger molecule-p" *ngFor="let text of errors">{{ text }}</p>
        <p class="text-warning molecule-p" *ngFor="let text of warnings">{{ text }}</p>
      </ng-container>
      <p class="text-supplementary" *ngFor="let text of infos">{{ text }}</p>
    </div>
    <ng-content></ng-content>
  </div>
</div>
