.molecule-p {
  margin: 0;
  padding: 0
}

.form-group {
  .label {
    height: 100%;
    display: block;
    text-align: right;
    label {
      color: black;
      font-weight: bold;
      white-space: normal;
    }
  }
}

.icon-required {
  position: relative;
  display: inline-block;
  // padding: 1px 4px;
  font-size: 11px;
  font-family: Monospace;
  top: -5px;
  color: rgb(212, 69, 69);
  // background-color: #df0012;
  border-radius: 3px !important;
}