<div class="page-head">
  <div class="page-title">
    <h1>Searchbox</h1>
  </div>
</div>

<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span class="active">
      Searchbox
    </span>
  </li>
</ul>

<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject bold uppercase font-dark">
        Danh sachs url searchbox
      </span>
    </div>
  </div>
  <div class="portlet-body">
    <app-table-control #tableControl
                       id="tableControl"
                       [target]="'SEARCH_BOX'"
                       [columns]="columns"
                       (requireData)="_fetchData($event)"
                       [itemsSource]="grid.itemsSource"
                       [totalRecords]="grid.totalItems"
                       (doAction)="receiveAction($event)">
    </app-table-control>
  </div>
</div>