<div class="table-footer">
  <div style="display: inline-block; margin: 10px 0">
    Show
    <select style="display: inline-block; width: 70px"
            class="form-control input-sm"
            [(ngModel)]="_size"
            [disabled]="_total < _size"
            (ngModelChange)="onChangedSize($event)">
      <option *ngFor="let o of sizeValues" [ngValue]="o">{{o}}</option>
    </select> rows.
    <span>
      {{ _text.from }} - {{_text.to}} of {{_total }}
    </span>
  </div>
  <div class="pull-right" *ngIf="_isVisiblePaginationBtns">
    <pagination [totalItems]="_total"
                [itemsPerPage]="_size"
                [maxSize]="5"
                [(ngModel)]="_page"
                [directionLinks]="true"
                [boundaryLinks]="true"
                firstText="&laquo;"
                lastText="&raquo;"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                class="pagination-sm"
                (pageChanged)="onChangedPage($event)">
    </pagination>
  </div>
</div>
