<app-molecule-container [title]="title"
                        [leftClass]="_left"
                        [rightClass]="_right"
                        [isRequired]="isRequired"
                        [isEnabled]="isEnabled()"
                        [tooltip]="tooltip"
                        [infos]="infos"
                        [errors]="errors"
                        [warnings]="warnings">
  <div class="ms-container">
    <div *ngFor="let l of _links; let i = index" class="ms-link">
      <span class="ms-img-preview" *ngIf="type === 'IMAGE'">
        <img [src]="l" alt="" />
      </span>
      <span class="ms-text">{{l | slice: 0: 50}}<span *ngIf="l.length > 50">...</span></span>
      <span class="ms-btn-remove" (click)="removeLink(i)">Xoá</span>
    </div>
    <div class="ms-btn-add">
      <button class="btn btn-xs btn-primary" (click)="openFileManager()">Chọn thêm</button>
    </div>
  </div>
</app-molecule-container>

<div class="ms-file-manager" [ngClass]="{active: isOpened}">
  <span class="icon-close ms-btn-close-fm" (click)="closeFileManager()"></span>
  <iframe #fm src="http://localhost:1000" frameborder="0"></iframe>
</div>