.ms-container {
  border: 1px dashed #ccc;
  padding: 2px;
  .ms-link {
    font-size: 11px;
    font-style: italic;
    color: rgb(110, 110, 110);
    font-family: monospace;
    padding: 3px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid #ccc;
    }
    .ms-img-preview {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%)
      }
    }
    .ms-text {
      width: 321px;
      display: inline-block;
    }
    .ms-btn-remove {
      margin-left: 20px;
      color: rgb(140, 50, 50);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .ms-btn-add {
    margin-top: 20px;
  }
}

.ms-file-manager {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 40px;
  background-color: rgba(113, 113, 113, 0.496);
  transition: ease 0.5s;
  &.active {
    left: 0;
  }
  iframe {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px 2px #938b8b;
  }
  .ms-btn-close-fm {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #464646;
    cursor: pointer;
    font-size: 25px;
  }
}