<div class="modal-header">
  <h4 class="modal-title pull-left font-red">
    <i class="icon-ban"></i> Error
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let m of msgs">
    {{m}}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" (click)="bsModalRef.hide()">
    Thoát
  </button>
</div>
