<div class="page-head">
  <div class="page-title">
    <h1>Thêm admin</h1>
  </div>
</div>

<ul class="page-breadcrumb breadcrumb">
  <li>
    <a routerLink="/">Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a routerLink="/admin">Admin</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
      <span class="active">
        Thêm admin
      </span>
  </li>
</ul>

<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject bold uppercase font-dark">
        Thêm admin mới
      </span>
    </div>
  </div>
  <div class="portlet-body">
    <form [formGroup]="form" class="form-horizontal">
      <app-input-text [formControlName]="'name'"
                      [title]="'Name'"
                      [left]="3"
                      [right]="5"
                      [errors]="getMessageErrors('name')"
                      [isRequired]="true"></app-input-text>

      <app-input-text [formControlName]="'username'"
                      [title]="'Username'"
                      [left]="3"
                      [right]="5"
                      [errors]="getMessageErrors('username')"
                      [isRequired]="true"></app-input-text>

      <app-input-text [formControlName]="'email'"
                      [title]="'Email'"
                      [left]="3"
                      [right]="5"
                      [errors]="getMessageErrors('email')"
                      [isRequired]="true"></app-input-text>

      <app-input-password [formControlName]="'password'"
                          [title]="'Password'"
                          [left]="3"
                          [right]="5"
                          [errors]="getMessageErrors('password')"
                          [isRequired]="true"></app-input-password>

      <app-input-password [formControlName]="'reenterPassword'"
                          [title]="'Re-enter password'"
                          [left]="3"
                          [right]="5"
                          [errors]="getMessageErrors('reenterPassword')"
                          [isRequired]="true"></app-input-password>

      <app-input-text [formControlName]="'phone'"
                      [title]="'Phone'"
                      [left]="3"
                      [right]="5"
                      [errors]="getMessageErrors('phone')"
                      [isRequired]="true"></app-input-text>

      <div class="row">
        <div class="col-sm-5 col-sm-offset-3">
          <button class="btn btn-default"
                  (click)="onClickBtnClear()">
            Xoá form
          </button>

          <button class="btn blue-steel btn-lg-custom"
                  style="margin-left: 20px"
                  (click)="onClickBtnSubmit()">
            Lưu
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
