<th *ngIf="showIndexCol"></th>
<th style="width: 50px; max-width: 50px"></th>
<th *ngFor="let column of _columns" [ngStyle]="column.headerStyle || {}">
  <div *ngIf="column.filterable === true" [ngSwitch]="column.filterConfig.dataType">
    <div *ngSwitchCase="_filterTypes.STRING">
      <app-table-filter-input [columnCode]="column.filterConfig.queryName"
                              (valueChanged)="onInputFieldChange($event)"
      ></app-table-filter-input>
    </div>

    <div *ngSwitchCase="_filterTypes.NUMBER">
      <app-table-filter-input [columnCode]="column.filterConfig.queryName"
                              (valueChanged)="onInputFieldChange($event)"
      ></app-table-filter-input>
    </div>

    <div *ngSwitchCase="_filterTypes.SELECT">
      <app-table-filter-select
        *ngIf="column.filterConfig.dataLoadBy === _selectValuesType.FIXED"
        [columnCode]="column.filterConfig.queryName"
        [itemsSource]="column.optionsFilter"
        [displayMemberPath]="'name'"
        [selectedValuePath]="'id'"
        (selectedItemChanged)="onSelectFieldChange($event)"
      ></app-table-filter-select>

      <app-table-filter-select-2
        *ngIf="column.filterConfig.dataLoadBy === _selectValuesType.SEARCH"
        [target]="column.filterConfig.targetType"
        [columnCode]="column.filterConfig.queryName"
        [itemsSource]="column.optionsFilter"
        [displayMemberPath]="'name'"
        [selectedValuePath]="'id'"
        (selectedItemChanged)="onSelectFieldChange($event)"
      ></app-table-filter-select-2>
    </div>
  </div>
</th>

