.btn {
  //border-radius: 3px !important;
}

.btn-default-c {
  border-color: #13abd7;
  background-color: #f7f8fa;
}

.open {
  .btn-default-c {
    background-color: #0eabd8!important;
    border-color: #0eabd8!important;
    color: #fff!important;
    box-shadow: none;
  }
}

.btn-lg-custom {
  padding-left: 60px;
  padding-right: 60px;
}
