
.table-responsive {
  border-color: #e7ecf1;
  table {
    margin: 0;
    .nested-table {
      thead {
        tr {
          th, td {
            color: black;
            //background-color: #e0e0e0;
            //border-color: #e7ecf1;
            //border-color: rgb(146, 146, 146);
            //background-color: rgba(173, 173, 173, 1);
          }
        }
      }
    }
  }
  thead {
    tr {
      border-bottom: 1px solid #e7ecf1;
      th, td {
        border-color: #e7ecf1;
        //border-color: #3387a0;
        //background-color: #076d8c;
        //color: white;
        background-color: white;
        font-size: 12px;
        padding: 11px 12px 10px;
        font-weight: bold;

        select, input {
          color: black;
        }

        select, input {
          height: 23px;
        }

        &.sortable {
          position: relative;
          cursor: pointer;

          .column-name {
            border-bottom: 1px dotted white;
          }

          &:hover {
            //background-color: rgb(6, 90, 115);
          }
        }
      }
      &.filter {
        th, td {
          padding: 3px;
        }
      }
    }
  }

  tbody {
    td {
      font-size: 12px;
    }
  }
}

.table-footer {
  padding: 20px;
  //background-color: #dceef2;
  border-radius: 0 0 5px 5px !important;
}

.control-bar {
  &:after {
    clear: both;
  }
}

.split-v {
  background: url(../images/split-v.png) center right no-repeat;
  padding-right: 20px;
  margin-right: 12px;
}

.dis-ib {
  display: inline-block
}
