.icheckbox_square-blue, .iradio_square-blue {
  display: inline-block;
  vertical-align: top;
  margin : 0 !important;
  background-color: white;
  // border-radius: 3px !important;
//  width: 18px;
//  height: 18px;
//  background: url('../images/icheck.png');

 input {
  width  : 100%;
  height : 100%;
  top    : 0;
  left   : 0;
  margin : 0;
 }
}

// .icheckbox_square-blue {
//   background-position: 0 0;

//   &.checked {
//     background-position: 0 -20px;
//   }

//   &.disabled {
//     background-position: 0 0;
//   }

//   &:not(.checked) {
//     &.hover {
//       background-position: 0 0;
//     }
//   }

  
// }

// .iradio_square-blue {
//   background-position: 0 -50px;

//   &.checked {
//     background-position: 0 -70px;
//   }

//   &.disabled {
//     background-position: 0 -50px;
//   }

//   &:not(.checked) {
//     &.hover {
//       background-position: 0 -50px;
//     }
//   }
// }