@import "width.less";
@import "layout.less";
@import "loader.less";
@import "grid.less";
@import "icheck.less";
@import "btn.less";
@import "modal.less";
@import "general.less";
body {
  &.login {
    background-image: url(../images/login-background.jpg) !important;
  }
}

bs-datepicker-container {
  z-index: 10051;
}


.bs-datepicker {
  z-index: 9999999999;
}
