.cssload-container {
 position   : absolute;
 top        : 50%;
 left       : 50%;
 height     : 30px;
 text-align : center;
 display    : inline-block;
 transform  : translate(-50%, -50%);
}

.cssload-speeding-wheel {
 width              : 30px;
 height             : 30px;
 margin             : 0 auto;
 border             : 2px solid #0dabd9;
 border-radius      : 50% !important;
 border-left-color  : transparent;
 border-right-color : transparent;
 animation          : cssload-spin 575ms infinite linear;
 -o-animation       : cssload-spin 575ms infinite linear;
 -ms-animation      : cssload-spin 575ms infinite linear;
 -webkit-animation  : cssload-spin 575ms infinite linear;
 -moz-animation     : cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
 100% {
  transform : rotate(360deg);
 }
}

@-o-keyframes cssload-spin {
 100% {
  -o-transform : rotate(360deg);
  transform    : rotate(360deg);
 }
}

@-ms-keyframes cssload-spin {
 100% {
  -ms-transform : rotate(360deg);
  transform     : rotate(360deg);
 }
}

@-webkit-keyframes cssload-spin {
 100% {
  -webkit-transform : rotate(360deg);
  transform         : rotate(360deg);
 }
}

@-moz-keyframes cssload-spin {
 100% {
  -moz-transform : rotate(360deg);
  transform      : rotate(360deg);
 }
}