.custom-modal {
  margin: 100px auto;
  .modal-content {
    border-radius: 3px !important;
    .modal-header {
      border-bottom: 0;
    }
    .modal-footer {
      border-top: 0;
      text-align: center;
      button {
        width: 150px;
        border-radius: 3px !important;
      }
    }
  }
}
