<div class="page-wrapper">
  <div class="page-container" style="margin-top: 0px">
    <div class="page-content-wrapper">
      <div class="page-content">
        <h2>Component list</h2>
        <form [formGroup]="form" novalidate>
          <app-section [jTextProperty]="{upperLabel: 'Input'}">

            <app-input-rich-text-2 [title]="'Input rich text 2'"
                                   [formControlName]="'richText2'"
                                   [left]="2"
                                   [right]="10"></app-input-rich-text-2>

            <div class="col-sm-12">
              <button class="btn btn-sm btn-danger" (click)="openDialogError()">
                Error
              </button>

              <button class="btn btn-sm btn-default" (click)="openDialogConfirm()">
                Confirm
              </button>

              <button class="btn btn-sm btn-success" (click)="openDialogSuccess()">
                Success
              </button>
            </div>

            <div class="col-sm-12">
              <app-input-rich-text-2
                [title]="'Demo tiny editor'"
              ></app-input-rich-text-2>
            </div>

            <div class="col-sm-12">
              <app-select-search
                [title]="'Input Text Component'"
                [isDisabled]="false"
                [isRequired]="true"
                [infos]="['info1', 'info2']"
                [warnings]="['warning1', 'warning2']"
                [errors]="['error1', 'error2']"
                [itemsSource]="selectTextItemsSource"
                [dataFlowType]="'FIX'"
                [displayMemberPath]="'text'"
                [selectedValuePath]="'id'"
              ></app-select-search>
            </div>

            <div class="col-sm-12">
              <app-input-text
                [title]="'Input Text Component'"
                [isDisabled]="false"
                [isRequired]="true"
                [infos]="['info1', 'info2']"
                [warnings]="['warning1', 'warning2']"
                [errors]="['error1', 'error2']"
              ></app-input-text>
            </div>

            <div class="col-sm-12">
              <app-input-number
                [title]="'Input Number Component'"
                [isDisabled]="false"
                [isRequired]="true"
              ></app-input-number>
            </div>

            <!--<div class="col-sm-12">-->
            <!--<app-select-image-->
            <!--[title]="'Select Image'"-->
            <!--[isDisabled]="false"-->
            <!--[isRequired]="true"-->
            <!--[types]="imageTypes"-->
            <!--&gt;</app-select-image>-->
            <!--</div>-->

            <!--<div class="col-sm-12">-->
            <!--<app-select-multiple-image-->
            <!--[title]="'Select multiple image'"-->
            <!--[isDisabled]="false"-->
            <!--[isRequired]="true"-->
            <!--&gt;</app-select-multiple-image>-->
            <!--</div>-->

            <div class="col-sm-12">
              <app-input-textarea
                [title]="'Input textarea'"
                [isDisabled]="false"
                [isRequired]="true"
              ></app-input-textarea>
            </div>

            <div class="col-sm-12">
              <app-input-rich-text
                [title]="'Rich text'"
                [isDisabled]="false"
                [isRequired]="true"
              ></app-input-rich-text>
            </div>

            <div class="col-sm-12">
              <app-select-text
                [title]="'Select text'"
                [isDisabled]="false"
                [isRequired]="true"
                [itemsSource]="selectTextItemsSource"
                (valueChanged)="onSelectText($event)"
              ></app-select-text>
            </div>

            <div class="col-sm-4">
              <app-input-date
                [title]="'Input date'"
                [isDisabled]="false"
                [isRequired]="true"
                (valueChanged)="onInputDateChange($event)"
              ></app-input-date>
            </div>

            <div class="col-sm-4">
              <app-input-date-period
                [title]="'Input date period'"
                [isDisabled]="false"
                [isRequired]="true"
                (valueChanged)="onInputPeriodChange($event)"
              ></app-input-date-period>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <app-radio-group
                  id="radioGroup"
                  #radioGroup
                  [title]="'Radio group'"
                  [isDisabled]="false"
                  [isRequired]="false"
                  [itemsSource]="radioGroupCfg.itemsSource"
                  [displayPathName]="radioGroupCfg.displayPath"
                  [selectedPathValue]="radioGroupCfg.valuePath"
                  [selectValue]="'3'"
                ></app-radio-group>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <app-media-selection></app-media-selection>
              </div>
            </div>

            <div class="row">
              <div class="col-sm12">
                <app-image-uploader [formControlName]="'images'"></app-image-uploader>
              </div>
            </div>
          </app-section>
        </form>
      </div>
    </div>
    <!-- <div ui-view="footer"></div> -->
  </div>
</div>
