<div class="page-head">
  <div class="page-title">
    <h1>Thêm dự án</h1>
  </div>
</div>


<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span class="active">
      Thêm dự án
    </span>
  </li>
</ul>

<form novalidate
      [formGroup]="form"
      class="form-horizontal">
  <div class="portlet light bordered">
    <div class="portlet-body">
      <tabset>
        <tab heading="Tổng quan">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Tổng quan
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowOverview'" />
            </div>
          </div>

          <app-select-search [title]="'Loại dự án'"
                             [left]="2"
                             [right]="5"
                             [isRequired]="true"
                             [isDisabled]="false"
                             [itemsSource]="projectTypeItemsSource"
                             [displayMemberPath]="'text'"
                             [selectedValuePath]="'id'"
                             [dataFlowType]="'FIX'"
                             [formControlName]="'type'"
                             [removeAble]="false"
                             [errors]="getMessageErrors('type')"></app-select-search>

          <app-image-uploader [title]="'Hình ảnh giới thiệu dự án'"
                              [left]="2"
                              [right]="9"
                              [max]="5"
                              [types]="['png','jpg']"
                              [formControlName]="'introImages'"
                              [errors]="getMessageErrors('introImages')"></app-image-uploader>

          <app-input-text [title]="'Tên dự án'"
                          [left]="2"
                          [right]="5"
                          [isRequired]="true"
                          [isDisabled]="false"
                          [formControlName]="'title'"
                          [errors]="getMessageErrors('title')"></app-input-text>

          <app-input-text [title]="'Địa chỉ'"
                          [left]="2"
                          [right]="5"
                          [isRequired]="false"
                          [isDisabled]="false"
                          [formControlName]="'address'"
                          [errors]="getMessageErrors('address')"></app-input-text>

          <app-select-search [title]="'Tỉnh/Thành phố'"
                             [left]="2"
                             [right]="5"
                             [isRequired]="true"
                             [isDisabled]="false"
                             [itemsSource]="projectCityItemsSource"
                             [displayMemberPath]="'text'"
                             [selectedValuePath]="'value'"
                             [dataFlowType]="'FIX'"
                             [formControlName]="'city'"
                             [removeAble]="false"
                             [errors]="getMessageErrors('city')"
                             (valueChanged)="onChangedCity($event)"></app-select-search>

          <app-select-search [title]="'Quận/Huyện'"
                             [left]="2"
                             [right]="5"
                             [isRequired]="true"
                             [isDisabled]="false"
                             [itemsSource]="projectDistrictItemsSource"
                             [displayMemberPath]="'text'"
                             [selectedValuePath]="'value'"
                             [dataFlowType]="'FIX'"
                             [formControlName]="'district'"
                             [removeAble]="false"
                             [errors]="getMessageErrors('district')"></app-select-search>

          <app-input-number [title]="'Tổng diện tích'"
                            [left]="2"
                            [right]="3"
                            [precision]="0"
                            [isRequired]="false"
                            [isDisabled]="false"
                            [formControlName]="'area'"
                            [errors]="getMessageErrors('area')"></app-input-number>

          <app-input-number [title]="'Diện tích xây dựng'"
                            [left]="2"
                            [right]="3"
                            [precision]="0"
                            [isRequired]="false"
                            [isDisabled]="false"
                            [formControlName]="'constructionArea'"
                            [errors]="getMessageErrors('constructionArea')"></app-input-number>

          <app-input-number [title]="'Giá'"
                            [left]="2"
                            [right]="3"
                            [precision]="0"
                            [isRequired]="false"
                            [isDisabled]="false"
                            [formControlName]="'price'"
                            [errors]="getMessageErrors('price')"></app-input-number>

          <app-input-date [title]="'Ngày bàn giao nhà'"
                          [left]="2"
                          [right]="3"
                          [isRequired]="false"
                          [isDisabled]="false"
                          [formControlName]="'deliveryHouseDate'"
                          [errors]="getMessageErrors('deliveryHouseDate')"></app-input-date>

          <app-input-textarea [title]="'Quy mô dự án'"
                              [left]="2"
                              [right]="6"
                              [rows]="3"
                              [isRequired]="false"
                              [isDisabled]="false"
                              [formControlName]="'projectScale'"
                              [errors]="getMessageErrors('projectScale')"></app-input-textarea>

          <app-input-textarea [title]="'Giới thiệu chủ đầu tư'"
                              [left]="2"
                              [right]="6"
                              [rows]="3"
                              [isRequired]="false"
                              [isDisabled]="false"
                              [formControlName]="'descriptionInvestor'"
                              [errors]="getMessageErrors('descriptionInvestor')"></app-input-textarea>

          <app-input-rich-text-2 [title]="'Giới thiệu'"
                                 [left]="2"
                                 [right]="10"
                                 [isRequired]="false"
                                 [isDisabled]="false"
                                 [formControlName]="'description'"
                                 [errors]="getMessageErrors('description')"></app-input-rich-text-2>
        </tab>

        <tab heading="Vị trí - Hạ tầng">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Vị trí - Hạ tầng
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowLocationAndDesign'" />
            </div>
          </div>

          <app-input-rich-text-2 [title]="'Vị trí'"
                                 [left]="2"
                                 [right]="10"
                                 [isRequired]="false"
                                 [isDisabled]="false"
                                 [formControlName]="'location'"
                                 [errors]="getMessageErrors('location')"></app-input-rich-text-2>

          <app-input-rich-text-2 [title]="'Hạ tầng'"
                                 [left]="2"
                                 [right]="10"
                                 [isRequired]="false"
                                 [isDisabled]="false"
                                 [formControlName]="'infrastructure'"
                                 [errors]="getMessageErrors('infrastructure')"></app-input-rich-text-2>
        </tab>

        <tab heading="Thiết kế - Mặt bằng">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Thiết kế - Mặt bằng
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowGround'" />
            </div>
          </div>

          <app-image-uploader [title]="'Sơ đồ tổng thể'"
                              [left]="2"
                              [right]="9"
                              [max]="1"
                              [types]="['png','jpg']"
                              [formControlName]="'overallSchema'"
                              [errors]="getMessageErrors('overallSchema')"></app-image-uploader>

          <app-image-uploader [title]="'Mặt bằng'"
                              [left]="2"
                              [right]="9"
                              [types]="['png','jpg']"
                              [showInput]="true"
                              [formControlName]="'groundImages'"
                              [errors]="getMessageErrors('groundImages')"></app-image-uploader>
        </tab>

        <tab heading="Thư viện ảnh">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Thư viện ảnh
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowImageLibs'" />
            </div>
          </div>

          <app-image-uploader [title]="'Thư viện hình ảnh'"
                              [left]="2"
                              [right]="9"
                              [types]="['png','jpg']"
                              [showInput]="true"
                              [formControlName]="'imageAlbums'"
                              [errors]="getMessageErrors('imageAlbums')"></app-image-uploader>
        </tab>

        <tab heading="Tiến độ dự án">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Tiến độ dự án
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowProjectProgress'" />
            </div>
          </div>

          <app-input-date [title]="'Ngày khởi công'"
                          [left]="2"
                          [right]="3"
                          [isRequired]="false"
                          [isDisabled]="false"
                          [formControlName]="'projectProgressStartDate'"
                          [errors]="getMessageErrors('projectProgressStartDate')"></app-input-date>

          <app-input-date [title]="'Ngày hoàn thành'"
                          [left]="2"
                          [right]="3"
                          [isRequired]="false"
                          [isDisabled]="false"
                          [formControlName]="'projectProgressEndDate'"
                          [errors]="getMessageErrors('projectProgressEndDate')"></app-input-date>

          <app-input-date [title]="'Ngày hiện tại'"
                          [left]="2"
                          [right]="3"
                          [isRequired]="false"
                          [isDisabled]="false"
                          [formControlName]="'projectProgressDate'"
                          [errors]="getMessageErrors('projectProgressDate')"></app-input-date>

          <app-input-text [title]="'Tên tiến độ dự án'"
                          [left]="2"
                          [right]="5"
                          [isRequired]="false"
                          [isDisabled]="false"
                          [formControlName]="'projectProgressTitle'"
                          [errors]="getMessageErrors('projectProgressTitle')"></app-input-text>

          <app-image-uploader [title]="'Hình ảnh tiến độ hiện tại'"
                              [left]="2"
                              [right]="9"
                              [types]="['png','jpg']"
                              [showInput]="true"
                              [formControlName]="'projectProgressImages'"
                              [errors]="getMessageErrors('projectProgressImages')"></app-image-uploader>

        </tab>

        <tab heading="Video">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Video
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowTabVideo'" />
            </div>
          </div>

          <app-input-text [title]="'Video'"
                          [left]="2"
                          [right]="6"
                          [isRequired]="false"
                          [isDisabled]="false"
                          [formControlName]="'video'"
                          [errors]="getMessageErrors('video')"></app-input-text>
        </tab>

        <tab heading="Hỗ trợ tài chính">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Hỗ trợ tài chính
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowFinancialSupport'" />
            </div>
          </div>

          <app-input-rich-text-2 [left]="0"
                                 [right]="12"
                                 [isRequired]="false"
                                 [isDisabled]="false"
                                 [formControlName]="'financialSupport'"
                                 [errors]="getMessageErrors('financialSupport')"></app-input-rich-text-2>
        </tab>

        <tab heading="Chủ đầu tư">

          <div class="form-group">
            <label class="control-label col-sm-2"> Show Chủ đầu tư
            </label>
            <div class="col-sm-5">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     type="checkbox"
                     [formControlName]="'isShowInvestor'" />
            </div>
          </div>

          <app-input-rich-text-2 [left]="0"
                                 [right]="12"
                                 [isRequired]="false"
                                 [isDisabled]="false"
                                 [formControlName]="'detailInvestor'"
                                 [errors]="getMessageErrors('detailInvestor')"></app-input-rich-text-2>
        </tab>

        <tab heading="SEO">
          <div *ngIf="onFlowEdit == true">
            <app-input-text [title]="'Url'"
                            [left]="2"
                            [right]="7"
                            [formControlName]="'url'"></app-input-text>
          </div>

          <app-input-text [title]="'Meta title'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaTitle'"></app-input-text>

          <app-input-text [title]="'Meta description'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaDescription'"></app-input-text>

          <app-input-text [title]="'Meta url'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaUrl'"></app-input-text>

          <app-input-text [title]="'Meta image'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'metaImage'"></app-input-text>

          <app-input-text [title]="'Canonical'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'canonical'"></app-input-text>

          <app-input-text [title]="'Text end page'"
                          [left]="2"
                          [right]="7"
                          [formControlName]="'textEndPage'"></app-input-text>
        </tab>

      </tabset>

      <div class="row">
        <div class="col-sm-12 text-center">
          <button class="btn btn-default"
                  (click)="onClickBtnClear()">
            Xoá form
          </button>

          <button class="btn btn-default blue-steel"
                  style="margin-left: 20px"
                  (click)="onClickBtnSubmit()">
            Thêm
          </button>
        </div>
      </div>

    </div>
  </div>
</form>