<app-molecule-container [title]="title"
                        [leftClass]="_left"
                        [rightClass]="_right"
                        [isRequired]="isRequired"
                        [isEnabled]="isEnabled()"
                        [tooltip]="tooltip"
                        [infos]="infos"
                        [errors]="errors"
                        [warnings]="warnings">
  <ckeditor [(ngModel)]="value"
            [readonly]="false"
            (change)="onChange($event)"
            (editorChange)="onEditorChange($event)"
            (ready)="onReady($event)"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
            debounce="300"></ckeditor>
</app-molecule-container>
