<div class="page-head">
  <div class="page-title">
    <h1>User</h1>
  </div>
</div>

<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span class="active">
      User
    </span>
  </li>
</ul>

<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject bold uppercase font-dark">
        Danh sách user
      </span>
    </div>
    <div class="actions">
      <!--<a class="btn green-meadow btn-circle" [routerLink]="['add']">-->
        <!--<i class="icon-plus"></i>-->
        <!--Tạo dự án-->
      <!--</a>-->
    </div>
  </div>
  <div class="portlet-body">
    <app-table-control #tableControl
                       id="tableControl"
                       [target]="'USER'"
                       [columns]="columns"
                       (requireData)="_fetchData($event)"
                       [itemsSource]="grid.itemsSource"
                       [totalRecords]="grid.totalItems"
                       (doAction)="receiveAction($event)">
    </app-table-control>
  </div>
</div>
