<agm-map style="height: 300px" [zoom]="14"
         [latitude]="_location.latitude"
         [longitude]="_location.longitude"
         (mapClick)="mapClick($event)">
  <agm-marker [latitude]="_location.latitude"
              [longitude]="_location.longitude"></agm-marker>
</agm-map>
