<div class="modal-header">
  <h5 class="modal-title pull-left">
    <i class="icon-info"></i>
    Điều chỉnh số dư {{type}} của user: <br>
    <strong>{{user && user.email}}</strong>
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Số dư cũ: <span class="red">{{user && user.balance && user.balance[type.toLowerCase()]}}</span></h5>
  <div style="padding: 5px 0">
    <app-input-number
      [left]="0"
      [right]="12"
      [precision]="0"
      [value]="currentValue"
      (valueChanged)="currentValue = $event"
      ></app-input-number>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" (click)="bsModalRef.hide()">Cancel</button>
  <button class="btn btn-primary btn-sm" (click)="confirm()">Save</button>
</div>
