<div class="page-head">
  <div class="page-title">
    <h1>Đổi mật khẩu</h1>
  </div>
</div>

<ul class="page-breadcrumb breadcrumb">
  <li>
    <a routerLink="/">Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a routerLink="/admin">Admin</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
      <span class="active">
        Đổi mật khẩu
      </span>
  </li>
</ul>

<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject bold uppercase font-dark">
        Đổi mật khẩu
      </span>
    </div>
  </div>
  <div class="portlet-body">
    <form class="form-horizontal" [formGroup]="form">
      <app-input-password [formControlName]="'password'"
                          [title]="'Password'"
                          [left]="3"
                          [right]="5"
                          [errors]="getMessageErrors('password')"
                          [isRequired]="true"></app-input-password>

      <app-input-password [formControlName]="'reenterPassword'"
                          [title]="'Re-enter password'"
                          [left]="3"
                          [right]="5"
                          [errors]="getMessageErrors('reenterPassword')"
                          [isRequired]="true"></app-input-password>

      <app-input-password [formControlName]="'oldPassword'"
                          [title]="'Old password'"
                          [left]="3"
                          [right]="5"
                          [errors]="getMessageErrors('oldPassword')"
                          [isRequired]="true"></app-input-password>

      <div class="row">
        <div class="col-sm-5 col-sm-offset-3">
          <button class="btn btn-default"
                  (click)="onClickBtnClear()">
            Xoá form
          </button>

          <button class="btn blue-steel btn-lg-custom"
                  style="margin-left: 20px"
                  (click)="onClickBtnSubmit()">
            Lưu
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
