<div class="page-head">
  <div class="page-title">
    <h1>Thêm tin đăng bán</h1>
  </div>
</div>


<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span class="active">
      Thêm tin đăng bán
    </span>
  </li>
</ul>

<form novalidate [formGroup]="form" class="form-horizontal">
  <div class="portlet light bordered">
    <div class="portlet-body">
      <tabset>
        <tab heading="Thông tin cơ bản"></tab>
        <tab heading="Mô tả"></tab>
        <tab heading="Thông tin khác"></tab>
        <tab heading="Hình ảnh"></tab>
        <tab heading="Bản đồ"></tab>
        <tab heading="Liên hệ"></tab>
        <tab heading="Lịch đăng tin"></tab>
        <tab heading="Trạng thái"></tab>
      </tabset>
      
      <hr>
      <h4>Thành tiền</h4>
    </div>
  </div>