<div class="page-head">
  <div class="page-title">
    <h1>Danh sách dự án</h1>
  </div>
</div>

<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
      <span class="active">
        Danh sách tin tức
      </span>
  </li>
</ul>
<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject bold uppercase font-dark">
        Danh sách tin tức
      </span>
    </div>
    <div class="actions">
      <a class="btn green-meadow btn-circle" [routerLink]="['add']">
        <i class="icon-plus"></i>
        Thêm tin
      </a>
    </div>
  </div>
  <div class="portlet-body">
    <app-table-control #tableControl
                       id="tableControl"
                       [target]="'NEWS'"
                       [columns]="columns"
                       (requireData)="_fetchData($event)"
                       [itemsSource]="grid.itemsSource"
                       [totalRecords]="grid.totalItems"
                       (doAction)="receiveAction($event)">
    </app-table-control>
  </div>
</div>
