<div class="page-head">
  <div class="page-title">
    <h1>Chỉnh sửa thông tin SEO của: <b>{{info && info.param}}</b></h1>
  </div>
</div>

<ul class="page-breadcrumb breadcrumb">
  <li>
    <a>Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span class="active">
      Thêm tin tức
    </span>
  </li>
</ul>

<form novalidate
      [formGroup]="form"
      class="form-horizontal">
  <div class="portlet light bordered">
    <div class="portlet-body">
      <app-input-text [title]="'Url'"
                      [left]="2"
                      [right]="7"
                      [formControlName]="'url'"></app-input-text>

      <app-input-text [title]="'Meta title'"
                      [left]="2"
                      [right]="7"
                      [formControlName]="'metaTitle'"></app-input-text>

      <app-input-text [title]="'Meta description'"
                      [left]="2"
                      [right]="7"
                      [formControlName]="'metaDescription'"></app-input-text>

      <app-input-text [title]="'Meta url'"
                      [left]="2"
                      [right]="7"
                      [formControlName]="'metaUrl'"></app-input-text>

      <app-input-text [title]="'Meta image'"
                      [left]="2"
                      [right]="7"
                      [formControlName]="'metaImage'"></app-input-text>

      <app-input-text [title]="'Canonical'"
                      [left]="2"
                      [right]="7"
                      [formControlName]="'canonical'"></app-input-text>

      <app-input-text [title]="'Text end page'"
                      [left]="2"
                      [right]="7"
                      [formControlName]="'textEndPage'"></app-input-text>

      <div class="row">
        <div class="col-sm-12 text-center">
          <button class="btn btn-default"
                  (click)="onClickBtnClear()">
            Xoá form
          </button>

          <button class="btn blue-steel btn-lg-custom"
                  style="margin-left: 20px"
                  (click)="onClickBtnSubmit()">
            Lưu
          </button>
        </div>
      </div>
    </div>
  </div>
</form>