<div class="modal-header">
  <h4 class="modal-title pull-left">
    <i class="icon-info"></i> Reset password
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-4 text-danger">
      {{errMsg}}
    </div>
  </div>
  <form class="form-horizontal">
    <app-input-password [left]="4"
                        [right]="8"
                        [title]="'New password'"
                        [isRequired]="false"
                        [isReadOnly]="false"
                        [value]="password"
                        (valueChanged)="password=$event"
    ></app-input-password>

    <app-input-password [left]="4"
                        [right]="8"
                        [title]="'Re-enter'"
                        [isRequired]="false"
                        [isReadOnly]="false"
                        [value]="confirmed"
                        (valueChanged)="confirmed=$event"
    ></app-input-password>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" (click)="bsModalRef.hide()">Cancel</button>
  <button class="btn btn-primary btn-sm" (click)="confirm()">Save</button>
</div>
